<!DOCTYPE html>
<html>
  <head>
    <title>SlickFitTyres</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
	<link href="css/sft.css" rel="stylesheet">

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>		
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdmV_iY0m0PXE5KUP9Y7oAeNcjNblhE4g&sensor=true"></script>
	<script src="/js/thirdparties/handlebars.js" type="text/javascript"></script>

	<script src="/js/views/breakdown-cover.js" type="text/javascript"></script>		
	<script src="/js/views/car-details.js" type="text/javascript"></script>
	<script src="/js/views/tyre-prices.js" type="text/javascript"></script>
	<script src="/js/views/mot-centres.js" type="text/javascript"></script>

	<script src="/js/main.js" type="text/javascript"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  	<div class="container">
		<header><img src="img/logo-600.png" alt="SlickFitTyres" style="height:116px;width:300px"/></header>
		<div class="start">
			<h1><small>Use SlickFitTyres to find the cheapest tyres for your car.</small></h1>
			<p>To start, enter your <strong>car registration</strong>, so we can find out which tyres will fit.</p>
		</div>
		<!--
		<div class="row">
			<div class="col-md-4" style="background-color:#666600">.col-md-4</div>
			<div class="col-md-8" style="background-color:#999900">.col-md-8</div>
		</div>
		-->
		<div class="row">
			<div class="start">
				<form class="form-inline" role="form">
				  <div class="form-group">
					<label class="sr-only" for="exampleInput">Registration</label>
					<input type="text" class="form-control" id="vehicle-reg" placeholder="Enter registration">
				  </div>
				  <button id="search" class="btn btn-primary">Find Tyres</button>
				</form>
			</div>
		</div>
		
		<div id="search-results" style="display: none;">
			<div class="row">
				<div class="col-md-12">
					<div id="car-summary" class="box primary-box">
						
					</div>
				</div>	
			</div>
			
			<div class="row">
				<div class="col-md-9 col-md-push-3">
					<div id="results" class="box primary-box">
						<div id="results-wrapper">
						</div>
						
						<div class="clear">&nbsp;</div>
					</div>
				</div>
				<div class="col-md-3 col-md-pull-9">
					<div class="box primary-box">
						<h2>Breakdown Cover</h2>
						<div id="breakdown-cover" >

						</div>
						<div class="clear">&nbsp;</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<div id="mot" class="box secondary-box">
						<h2>MOT Centres</h2>
						<p>Enter your postcode or town name to find the nearest registered MOT centres ito you.</p>
						<form role="form">
						  <div class="form-group">
							<div id="MOT-postcode">
								<label class="sr-only" for="exampleInput">Postcode</label>
								<input type="text" class="form-control" id="postcodeInput" placeholder="Enter postcode or place name">
							</div>							
							<div id="MOT-button">
								<button id="findMOT" type="submit" class="btn  btn-primary">Find MOT Centres</button>
							</div>
						  </div>
						  
						  <!-- MOT results -->
						  <div id="MOT-results-wrapper" style="display:none">
						  	<div id="MOT-results-list">
						  	</div>
							<div id="MOT-results-map">
								<div id="map-canvas"></div>
							</div>
						  </div>
						  
						</form>
						<div class="clear">&nbsp;</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="loader" class="loader" style="display: none;">
		<img src="/img/loader.gif" alt="Loading..." title="Loading..." /> Loading...
	</div>
  </body>

  <script id="tyre-prices-template" type="text/x-handlebars-template">
  		<form class="form-horizontal" role="form">
			<div class="form-group">
				<h2>Results</h2>
				<label for="select-tyre-fitting">Showing results for: <label>
				<select id="select-tyre-fitting">
				{{#each tyre_sizes.results}}
					<option value="@index">{{tyresize}}</option>
				{{/each}}
				</select>
			</div>
		</form>
  		{{#each tyre_prices.results}}
  		<div class="results-box {{#ifCond @index "<" 3}}recommended{{/ifCond}}">
			<img  src="{{manufacturer}}" alt="" />
			<h4>{{manufacturername}}</h4>
			<ul>
				<li class="tyre-price">{{price}}</li>
				<li><img src="img/fuel-c.gif" alt="" /></li>
				<li><img src="img/grip-b.gif" alt="" /></li>
				<li><img src="img/noise-67-1.gif" alt="" /></li>
			</ul>
			<div class="tyre-image">
				<img src="{{tyreimg}}" class="tyre-image" />
			</div>
			<p class="tyre-spec">{{size}}</p>
		</div>
		{{/each}}
	</script>

	<script id="mot-centres-template" type="text/x-handlebars-template">
			<p>Your nearest MOT Centres to <span>{{postcode}}</span></p>
			<ul>
				{{#each results}}
				<li>
					<ul>
						<li class="MOT-centre-name">{{motcentre.centrename}}</li>
						<li>{{motcentre.address1}} {{motcentre.address2}} {{motcentre.address3}} {{motcentre.address4}}, {{motcentre.telephoneno}}</li>
					</ul>
				</li>
				{{/each}}
			</ul>
		
	</script>

	<script id="car-details-template" type="text/x-handlebars-template">
		<div class="row">
			<div class="col-md-6">
				<h2 id="car-name">{{dataset.dvla.vehicledata.match.make}} {{dataset.dvla.vehicledata.match.model}}</h2>
				<ul id="car-summary">
					<li>{{dataset.dvla.vehicledata.match.vrm}}</li>
					<li>{{dataset.dvla.vehicledata.match.from_to}}</li>
					<li>{{dataset.dvla.vehicledata.match.engine_cc}}cc</li>
					<li>{{dataset.dvla.vehicledata.match.doors}} door</li>
					<li>{{dataset.dvla.colour.1.desc}}</li>
				</ul>
			</div>
		</div>
	</script>

	<script id="break-down-cover-template" type="text/x-handlebars-template">
		<p>We have searched for the cheapest available beakdown cover for your <strong>{{url}}</strong>.</p>
		{{#each results}}
		<div id="breakdown1" class="breakdown-result-wrapper">
			<img class="breakdown-provider-logo" src="{{logo}}" alt="{{logo/alt}}" />
			<p>From <span>{{price}}</span> per year</p>
			<a href="{{proceed}}"><img src="img/go-to-site-button-results.jpg" class="breakdown-provider-gotosite" alt="Go to site" /></a>
		</div>
		{{/each}}
	</script>

</html>