<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes">       
        <title>Darul Islah</title>

		<link rel="stylesheet" type="text/css" href="/css/main.css" />
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script src="/js/main.js" text="text/javascript"></script>
	</head>
	<body>
		<h2>Slick Fit tyres</h2>

		<input type="text" name="registration">
		<a id="find-car-details" href="#">Find!</a>


		<div id="car-details">
			<p>Your car details are here!</p>	
		</div>	
	</body>
</html>