<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">     
        <title>Slick Fit Tyres</title>

		<link rel="stylesheet" type="text/css" href="/css/main.css" />
		
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>	
		<script src="/js/thirdparties/handlebars.js" type="text/javascript"></script>
		<script src="/js/views/breakdown-cover.js" type="text/javascript"></script>		
		<script src="/js/views/car-details.js" type="text/javascript"></script>
		<script src="/js/views/tyre-prices.js" type="text/javascript"></script>
		<script src="/js/views/mot-centres.js" type="text/javascript"></script>
		<script src="/js/main.js" type="text/javascript"></script>
	</head>
	<body>
		<div class="container">
			<div id="search-container">
				<h2>SlickFit Tyres</h2>
				<input type='text' id='vehicle_reg'>
				<a href="#" id='search'>Search</a>
			</div>
			<div class="row">
			  <div class="col-xs-6 col-md-4">
			  	<div id="car-details-container">
					<!-- something to go here -->
				</div>
			  </div>
			  <div class="col-xs-12 col-sm-6 col-md-8">
			  	<div id="tyre-prices-container">
					<!-- something to go here -->
				</div>
			  </div>
			</div>		
			<div class="row">
			  <div class="col-xs-6 col-md-4">
			  	<div id="breakdown-cover-container">
					<!-- something to go here -->
				</div>
			  </div>
			  <div class="col-xs-12 col-sm-6 col-md-8">
			  	<div id="mot-centres-container">
					<!-- something to go here -->
				</div>
			  </div>
			</div>
		</div>
	</body>

	<script id="car-details-template" type="text/x-handlebars-template">
	    <div>
	    	<h4>Car Details</h4>
	    	<p>Make - {{make}}</p>
	    	<p>Model - {{model}}</p>
	    </div>
	</script>
	<script id="tyre-prices-template" type="text/x-handlebars-template">
	    <div>
	    	<h4>Tyre Prices</h4>
	    	<p>Make - {{make}}</p>
	    	<p>Price - {{price}}</p>
	    </div>
	</script>
	<script id="mot-centres-template" type="text/x-handlebars-template">
	    <div>
	    	<h4>MOT Centres</h4>
	    </div>
	</script>
	<script id="breakdown-cover-template" type="text/x-handlebars-template">
	    <div>
	    	<h4>Breakdown Cover</h4>
	    	{{#each results}}
	    	<p>{{providerName}} - {{price}}</p>
	    	{{/each}}
	    </div>
	</script>
</html>
