<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes">       
        <title>Slick Fit Tyres</title>

		<link rel="stylesheet" type="text/css" href="/css/main.css" />
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.css" />
			
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
		<script src="/js/handlebars.js" type="text/javascript"></script>	
		<script src="/js/car-details.js" type="text/javascript"></script>
		<script src="/js/breakdown-cover.js" type="text/javascript"></script>
		<script src="/js/main.js" type="text/javascript"></script>
	
	</head>
	<body>
		<div id="search-container">
			<h2>SlickFitTyres</h2>
			<input type='text' id='vehicle_reg'>
			<a href="#" id='search'>Search</a>
		</div>

		<div id="car-details-container">
		</div>

		<div id="breakdown-cover-container">
		</div>

	</body>

	<script id="car-details-template" type="text/x-handlebars-template">
	    <div>
	    	<p>Make - {{make}}</p>
	    	<p>Model - {{model}}</p>
	    </div>
	</script>

	<script id="breakdown-cover-template" type="text/x-handlebars-template">
	    <h3>Breakdown Cover</h3>
	    {{#each results}}
    		<div>
    			{{providerName}} -{{price}} per month</td>
    		</div>
	    {{/each}}
	</script>
</html>
