<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 400px; width: 600px; }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdmV_iY0m0PXE5KUP9Y7oAeNcjNblhE4g&sensor=true">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
              center: new google.maps.LatLng(53.18909, -3.05239),
              zoom: 14
            };
            var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

            var markerOne = new google.maps.Marker({
    		    position: new google.maps.LatLng(53.18909, -3.05239),
    		    animation: google.maps.Animation.DROP,
    		    title:"Hello World!"
    		});

    		var markerTwo = new google.maps.Marker({
    		    position: new google.maps.LatLng(53.18909, -3.05953),
    		    animation: google.maps.Animation.DROP,
    		    title:"Hello Mars!"
    		});
    		
    		markerOne.setMap(map);
    		markerTwo.setMap(map);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
    <div id="map-canvas"/>
  </body>
</html>



    