header {
	text-align:center;
	padding: 20px;
}

h1, h2 {
	font-family: 'ProximaBold','Gotham Black',Helvetica,Arial,sans-serif;
}

h4 {
	font-size: 17px;
	overflow: hidden;
	width: 90%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

ul{
	list-style-type:none;
}

ul li ul{
	padding:0;
}

#breakdown-cover p strong{
	text-transform: uppercase;
}

/* Common */

.box {
	padding: 0 15px;
	border: 1px solid #999;
	margin-bottom:30px;
}

.primary-box {
	background-color: #f0ebeb;
}

.secondary-box {
	background-color: #fff;
}

/* Header Section */
.start {
	text-align:center;
}

.start p{
	font-size: 16px;
}

.start .form-group {
	padding:20px;
}

.loader {
	margin: 25px auto;
	width: 275px;
	font-size: 26px;
	font-weight: bold;
	text-transform: capitalize;
}

.start h1 small {
	font-size: 55%;
}

@media (max-width: 640px) {
	header img {
		width:99%;
		height:99%;
	}

	.start h1{
		font-size:24px;
	}
	.start p{
		font-size: 12px;
}
}

/* Summary Section */
div#car-summary {
	text-transform:uppercase;
}

ul#car-summary li {
	display:block;
	width:45%;
	float:left;
}

@media (max-width: 990px) {

	#tyre-summary {
		padding-top:10px;
		clear:left;
	}

}
/* Results Section */

#tyre-results-wrapper {
	clear:both;
}

#results .form-group {
	padding-left:15px;
}

div#results h2 {
	width:150px;
	float:left;
}

#select-tyre-fitting {

	margin-top:27px;
}

div.tyre-image {
	float:left;
	width:50%
}

img.tyre-image {
	width:99%;
}

.results-box {
	background-color:#fff;
	width: 30%;
	float:left;
	margin:10px;
	padding:10px;
	height: 285px;
}

.results-box ul {
	margin:0;
	padding:0;
	float:left;
	width:50%;
}

.tyre-price {
	color:#00aeef;
	font-size:22px;
	font-family: 'ProximaBold','Gotham Black',Helvetica,Arial,sans-serif;
	padding-bottom:10px;
}

.tyre-spec {
	clear:left;
	padding-top:10px;
}

#pagination-section {
	clear:left;
	padding:20px;
}

@media (max-width: 680px) {
.results-box {
	width: 44%;
}
.tyre-price {

	font-size:20px;
}
}

@media (max-width: 500px) {
.results-box {
	width: 90%;
}
.tyre-price {
	font-size:20px;
}
}


/* Breakdown Section */

.breakdown-result-wrapper {
	background-color: #fff;
	text-align:center;
	margin:10px 0;
	padding:10px;
}

.breakdown-result-wrapper p span {
	color: #00aeef;
	font-weight:bold;
}

.clear {
	clear:both;
}

@media (max-width: 991px) {
	.breakdown-result-wrapper {
		width:28%;
		float:left;
		margin: 0 10px
	}
}

@media (max-width: 500px) {
	.breakdown-result-wrapper {
		width:27%;
	}
	
	.breakdown-provider-logo{
		width:99%;
	}
	
	.breakdown-provider-gotosite{
		width:99%;
	}
}

@media (max-width: 400px) {
	.breakdown-result-wrapper {
		width:25%;
	}
	
}

/* Servicing Section */

.servicing-result-wrapper {
	background-color: #fff;
	text-align:center;
	margin:10px 0;
	padding:10px;
}

.servicing-result-wrapper p span {
	color: #00aeef;
	font-weight:bold;
}

.clear {
	clear:both;
}

@media (max-width: 991px) {
	.servicing-result-wrapper {
		width:28%;
		float:left;
		margin: 0 10px
	}
}

@media (max-width: 500px) {
	.servicing-result-wrapper {
		width:27%;
	}
	
	.servicing-provider-gotosite{
		width:99%;
	}
}

@media (max-width: 400px) {
	.servicing-result-wrapper {
		width:25%;
		height:130px;
	}

	.servicing-result-wrapper p {
		height:80px;
	}
	
}

/* MOT Section */

#MOT-postcode {
	width:30%;
	float:left;
	padding: 0 20px;
}

#MOT-distance {
	width:20%;
	float:left;
}

#MOT-distance label {
	padding: 0;
	margin: 0;
}
#MOT-distance select {
	padding: 0;
	margin: 7px 0;
}

#MOT-results-wrapper {
	margin-top: 20px;
	padding-top:20px;
	clear:left;
}

#MOT-results-list {
	width:50%;
	float:left;
}

.MOT-centre-name {
	font-weight:bold;
	margin-top:20px;
}

#MOT-results-map {
	width:50%;
	float:left;
}

#MOT-button {
	width:40%;
	float:left;
}

.MOT-map {
	width:99%;
}

#map-canvas { 
	height: 300px; width: 100%; 
}

@media (max-width: 720px) {
	#MOT-results-list {
		width:100%;
	}
	
	#MOT-results-map {
		width:100%;
	}
	
	#MOT-postcode {
		width:100%;
		float:left;
		padding: 0 20px;
	}

	#MOT-distance {
		width:100%;
		float:left;
	}
}

